* {
  box-sizing: border-box;
}

body {
  background-image: url("img/front.png");
  background-color: #482866;
}


h1 {
  font-size: 48px;
  word-break: break-all;
  text-align: center;
  color: black;
}


.row img:hover{
	transform: scale(2)
}

.row,
.row > .column {
  padding: 20px;
}


.column {
  float: left;
  width: 25%;
  display: none; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  background-color: white;
  padding: 10px;
}


.show {
  display: block;
}


.btn {
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
   color: white;
}